In [113]:
import pandas as pd
from pyspark.sql import SparkSession
# create sparksession
spark = SparkSession \
    .builder \
    .appName("insight") \
    .getOrCreate()

In [114]:
df = spark.read.csv("./data/2000Q2/Acquisition_2000Q2.txt", sep="|")

In [115]:
col_names_aquisition = ['loanID', 'originationChannel', 'sellerName', 'origIntRate', 'origUPB', 
                       'origLoanTerm', 'originationDate', 'firstPaymentDate', 'LTV', 'CLTV', 
                        'numOfBorrowers', 'origDebtToIncomeRatio', 'borrowerCredScoreAtOrigination',
                       'firstTimeBuyerIndicator', 'loanPurpose', 'propertyType', 'numOfUnits',
                       'occupancyType', 'propertyState', 'zipCodeShort', 'primaryMortgInsurPercent', 
                       'productType', 'coborrowerCreditScoreAtOrig', 'mortgageInsurType', 
                       'relocationMortgIndicator']
col_names_performance =['loanID', 'monthlyReportingPeriod', 'servicerName', 'currentIntRate',
                       'currentActualUPB', 'loanAge', 'remMonthsToLegalMaturity', 'adjMonthToMaturity',
                       'maturityDate', 'MSA', 'currentLoanDelinqStatus', 'modifFlag', 'zeroBalanceCode',
                       'zeroBalanceEffectiveDate', 'lastPaidInstallDate', 'foreclosureDate',
                       'dispositionDate', 'foreclosureCost', 'propPreservAndReparCosts', 'assetRecoveryCosts',
                       'miscelHoldingExpensesAndCredits', 'associatedTaxesForHoldingProperty', 'netSaleProceeds',
                       'creditEnhacementProceeds', 'repurchaseMakeWholeProceeds','otherForeclosureProceeds',
                       'nonInterestBearingUPB', 'principalForegivenessAmount', 'repurchaseMakeWholeProceedsFlag',
                       'foreclosurePrincipWriteOffAmont', 'servicingActivityIndicator']

In [116]:
acquis = pd.read_csv (r"./data/2000Q2/Acquisition_2000Q2.txt", names = col_names_aquisition, sep="|")

In [117]:
acquis.iloc[0:5, 0:11]

,loanID,originationChannel,sellerName,origIntRate,origUPB,origLoanTerm,originationDate,firstPaymentDate,LTV,CLTV,numOfBorrowers
0,100004032510,C,"JPMORGAN CHASE BANK, NA",7.875,172000,180,04/2000,06/2000,51.0,51.0,2.0
1,100004547910,R,"JPMORGAN CHASE BANK, NA",8.875,45000,360,04/2000,06/2000,80.0,80.0,1.0
2,100008709521,R,OTHER,7.875,63000,360,04/2000,06/2000,43.0,43.0,2.0
3,100014668102,C,"JPMORGAN CHASE BANK, NA",8.000,180000,360,04/2000,06/2000,68.0,68.0,2.0
4,100015226396,C,SUNTRUST MORTGAGE INC.,8.500,98000,180,03/2000,04/2000,65.0,65.0,2.0

In [118]:
acquis.iloc[0:5, 12:20]

,borrowerCredScoreAtOrigination,firstTimeBuyerIndicator,loanPurpose,propertyType,numOfUnits,occupancyType,propertyState,zipCodeShort
0,775.0,N,P,SF,1,P,TN,371
1,667.0,N,P,SF,1,I,FL,342
2,783.0,N,C,SF,1,P,CA,902
3,666.0,N,R,PU,1,P,NC,272
4,696.0,N,C,SF,1,P,CO,812

In [119]:
acquis.iloc[0:5, 21:25]

,productType,coborrowerCreditScoreAtOrig,mortgageInsurType,relocationMortgIndicator
0,FRM,NaN,NaN,N
1,FRM,NaN,NaN,N
2,FRM,762.0,NaN,N
3,FRM,651.0,NaN,N
4,FRM,695.0,NaN,N

In [ ]:
perf = pd.read_csv (r"./data/2000Q2/Performance_2000Q2.txt", names = col_names_performance, sep="|")

----------------------------------------
Exception happened during processing of request from ('127.0.0.1', 53556)
Traceback (most recent call last):
  File "/opt/conda/lib/python3.7/socketserver.py", line 316, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/opt/conda/lib/python3.7/socketserver.py", line 347, in process_request
    self.finish_request(request, client_address)
  File "/opt/conda/lib/python3.7/socketserver.py", line 360, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/opt/conda/lib/python3.7/socketserver.py", line 720, in __init__
    self.handle()
  File "/usr/local/spark/python/pyspark/accumulators.py", line 269, in handle
    poll(accum_updates)
  File "/usr/local/spark/python/pyspark/accumulators.py", line 241, in poll
    if func():
  File "/usr/local/spark/python/pyspark/accumulators.py", line 245, in accum_updates
    num_updates = read_int(self.rfile)
  File "/usr/local/spark/python/pyspark/serializers.py", line 724, in read_int
    raise EOFError
EOFError
----------------------------------------

In [ ]:
perf.iloc[0:5, 0:11]

In [ ]:
acquis.iloc[0:5, 12:20]

In [ ]:
acquis.iloc[0:5, 21:28]

In [ ]:
acquis.iloc[0:5, 29:1]